<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criticos</title>
</head>
<body>
    <p>En este apartado se analiza la realación entre las calificaciones de los criticos y las ventas de los videojuegos, se realizara un grafico de dispersión para analizar la relación entre las calificaciones de los críticos y las ventas globales, se analizaran las calificaciones de los críticos por región (NA, EU, JP) para ver si hay diferencias significativas en las calificaciones según la región, se compararan las calificaciones de los críticos entre diferentes tipos de videojuegos (AAA, Indie, etc.) para ver si hay diferencias en las calificaciones según el tipo del videojuego.
    </p>
</body>
</html>