<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Géneros</title>
</head>
<body>
    <h1>Comparación según géneros</h1>
    <p>
        En esta pagina se explorara si los generos de los videojuegos tienen rendimientos distintos segun la region geográfica y el tipo del videojuego
        <h2>¿Como se realizara?</h2>
        Se realizaran graficos de barras comparando las regiones de ventas por los generos en NA / EU / JP, comparando las ventas por genero segun el tipo del videojuego (AAA, Indie, etc)
        <h2>Perfil de preferencia por region</h2>
        <h2>top 10 juegos vendidos por region</h2>
</body>
</html>